<div class="snow_drop">
  <div class="inner">
    <div class="flake1"><%= image_tag 'IMG_0485.JPG', class: 'radius_img' %></div>
    <div class="flake2"><%= image_tag 'IMG_0485.JPG', class: 'radius_img' %></div>
    <div class="flake3"><%= image_tag 'IMG_0485.JPG', class: 'radius_img' %></div>
    <div class="flake4"><%= image_tag 'IMG_0485.JPG', class: 'radius_img' %></div>
    <div class="flake5"><%= image_tag 'IMG_0485.JPG', class: 'radius_img' %></div>
    <div class="flake6"><%= image_tag 'IMG_0485.JPG', class: 'radius_img' %></div>
  </div>
</div>

<div class ="contents row">
  <div class="content__post" style="background-image: url(<%= @tweet.image %>);">
    <% if current_user && @tweet.user_id == current_user.id %>
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
          <li>
            <%= link_to '削除', "/tweets/#{@tweet.id}", method: :delete %>
          </li>
      </ul>
      </div>
    <% end %>
    <%= simple_format(@tweet.text) %>
    <span class="name">
      <a href="/users/<%= @tweet.user_id %>">
        <span>投稿者</span><%= @tweet.user.nickname %>
      </a>
    </span>
  </div>
  <div class="container">
    <% if current_user %>
      <%= form_tag("/tweets/#{@tweet.id}/comments", method: :post) do %>
        <textarea cols="30" name="text" placeholder="コメントする" rows="2"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <storng><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

